#mysql root password
MARIADB_ROOT_PASSWORD=<root_password>

#mariadb-1
MARIADB_USER_1=<user_public>
MARIADB_PASSWORD_1=<password_public>
MARIADB_DATABASE_1=<databasename>

#mariadb-2
MARIADB_USER_2=<user_public>
MARIADB_PASSWORD_2=<password_public>
MARIADB_DATABASE_2=<databasename same with mariadb-1>

#mariadb-3
MARIADB_USER_3=<user_public>
MARIADB_PASSWORD_3=<password_public>
MARIADB_DATABASE_3=<databasename same with mariadb-1>
