[maxscale]
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

## GALERA MON
[mariadb1]
type=server
address=172.19.248.188
port=3306
protocol=MariaDBBackend

[mariadb2]
type=server
address=172.19.248.188
port=3307
protocol=MariaDBBackend

[mariadb3]
type=server
address=172.19.248.188
port=3308
protocol=MariaDBBackend

[MariaDB-Monitor-galera]
type=monitor
module=galeramon
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=QxbfQ1kba1aNYx1H8SvGu4v31hONFzsP
monitor_interval=1s
available_when_donor=true
disable_master_role_setting=false
disable_master_failback=true
use_priority=true

#auto_failover=false
#detect_stale_master=true deprecate variables
#failover_timeout=10
#auto_rejoin=true
#failcount=5
#master_failure_timeout=2
#verify_master_failure=true
#switchover_timeout=90
#replication_user=maxscale
#replication_password=QxbfQ1kba1aNYx1H8SvGu4v31hONFzsP
#detect_stale_slave=true deprecate variables
#master_conditions=none
#slave_conditions=linked_master
#servers_no_promotion=dbdrcsf7_v38_70_135
#

[Read-Write-Service-galera]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user=maxscale
password=QxbfQ1kba1aNYx1H8SvGu4v31hONFzsP
#master_failure_mode=fail_on_write
#strict_multi_stmt=false
#use_sql_variables_in=master
#master_reconnection=true
#delayed_retry=true
#delayed_retry_timeout=20s
#transaction_replay=true
#max_sescmd_history=60
#prune_sescmd_history=true
connection_timeout=1800s
filters=Hint

[Read-Write-Listener-galera]
type=listener
service=Read-Write-Service-galera
protocol=MariaDBClient
port=43306
authenticator=MariaDBAuth
authenticator_options=lower_case_table_names=true


[Hint]
type=filter
module=hintfilter
